<cdk-virtual-scroll-viewport itemSize="10" style="height: 90vh">

    <div class="flex flex-wrap">

        <div class="flex-1 m-2" *cdkVirtualFor="let country of countries">

            <p-card [header]="country.name.common" [subheader]="country.region || ''" [style]="{width: '260px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img [alt]="country.name.common" [src]="country.flags.svg">
                    <div class="circle-coa"><img class="coa" [alt]="country.name.common" [src]="country.coatOfArms.svg"></div>
                </ng-template>
                <h5>Area: {{country.capital}}</h5>
                <h5>Area: {{country.area}}</h5>
                <h5>Area: {{country.population}}</h5>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                 </ng-template>
            </p-card>
            
        </div>
        
    </div>

</cdk-virtual-scroll-viewport>